<template>
    <div class="page">
        <div class="navbar" style="background: #9B59B6; color: white">
            <div class="navbar-inner">
                <div class="title sliding">Grafik Bar</div>
                <div class="right">
                     <a href="#" class="link back" style="color: white"><i class="icon f7-icons">xmark</i></a>
                </div>
            </div>
        </div>
        <div class="page-content">
            <form class="list" style="margin-top: 10px;">
                <div class="item-content item-input">
                    <div class="col-15">
                        <div class="item-media">
                            <i class="icon f7-icons">calendar</i>
                        </div>
                    </div>
                    <div class="item-inner">
                        <div class="item-title item-label">Tahun</div>
                        <div class="item-input-wrap">
                            <input type="text" id="txtth" maxlength="5">
                        </div>
                    </div>
                    <div class="col-10" style="margin-top: -15px;">
                        <div class="item-inner">
                            <div class="item-title item-label">&nbsp</div>
                            <div class="item-input-wrap">
                                <button type="button" class="button button-fill color-blue" @click="showgf">
                                    <i class="icon f7-icons">checkmark_circle</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div id="blokgf" style="margin-top: 15px;"></div>
            </div>
            </div>
    </template>
    <script>
        return{
            on: {
            },
            methods: {
                showgf: function(){
                    get_grafik2();
                }
            }
        }
    </script>