<template>
    <div class="page">
        <div class="navbar" style="background: blue; color: white">
            <div class="navbar-inner">
                <div class="title sliding">Grafik Pie</div>
                <div class="right">
                    <a href="#" class="link back" style="color: white"><i class="icon f7-icons">xmark</i></a>
                </div>
            </div>
        </div>
        <div class="page-content" id="blokgrafik">
        
        </div>
    </div>
</template>
<script>
    return{
        on: {
            pageInit: function(){
            get_grafik1();
            }
        },
        methods: {
            
        }
    }
</script>