<template>
	<div class="page">
		<div class="navbar" style="background: #9B59B6; color: white">
			<div class="navbar-inner">
				<div class="title sliding">Tambah Data</div>
				<div class="right">
					<a href="#" class="link back" style="color: white"><i class="icon f7-icons">xmark</i></a>
				</div>
			</div>
		</div>
		<div class="page-content">
			<div class="list">
				<div class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Kode Kantor</div>
						<div class="item-input-wrap">
							<input type="text" class="frmtambah" id="txtkode" placeholder="ex: 23" maxlength="5">
						</div>
					</div>
					</div>
					<div class="item-content item-input">
						<div class="item-inner">
							<div class="item-title item-label">Kota</div>
							<div class="item-input-wrap">
								<input type="text" class="frmtambah" id="txtkota" placeholder="ex: Surabaya">
							</div>
						</div>
					</div>
					<div class="item-content item-input">
						<div class="item-inner">
							<div class="item-title item-label">Telp</div>
							<div class="item-input-wrap">
								<input type="text" class="frmtambah" id="txttelp" placeholder="+6285641272332">
							</div>
						</div>
					</div>
					<div class="item-content item-input">
						<div class="item-inner">
							<div class="item-title item-label">Alamat 1</div>
							<div class="item-input-wrap">
								<input type="text" class="frmtambah" id="txtalamat1" placeholder="ex: Jl. Budi Utomo No. 33">
							</div>
						</div>
					</div>
					<div class="item-content item-input">
						<div class="item-inner">
							<div class="item-title item-label">Alamat 2</div>
							<div class="item-input-wrap">
								<input type="text" class="frmtambah" id="txtalamat2" placeholder="ex: Kepanjen">
							</div>
						</div>
					</div>
					<div class="item-content item-input">
						<div class="item-inner">
							<div class="item-title item-label">Provinsi</div>
							<div class="item-input-wrap">
								<input type="text" class="frmtambah" id="txtprovinsi" placeholder="ex: East Java">
							</div>
						</div>
					</div>
					<div class="item-content item-input">
						<div class="item-inner">
							<div class="item-title item-label">Negara</div>
							<div class="item-input-wrap">
								<input type="text" class="frmtambah" id="txtnegara" placeholder="ex: Indonesia">
							</div>
						</div>
					</div>
					<div class="item-content item-input">
						<div class="item-inner">
							<div class="item-title item-label">Kodepos</div>
							<div class="item-input-wrap">
								<input type="text" class="frmtambah" id="txtkodepos" placeholder="ex: 61453">
							</div>
						</div>
					</div>
					<div class="item-content item-input">
						<div class="item-inner">
							<div class="item-title item-label">Region</div>
							<div class="item-input-wrap">
								<input type="text" class="frmtambah" id="txtregion" placeholder="ex: South East Asia">
							</div>
						</div>
					</div>
					<div class="block">
						<p class="row">
							<button type="button" class="col-70 button button-fill color-green" @click="savedata">Simpan</button>
							<button type="button" class="col-30 button button-fill color-red" onclick="$('.frmtambah').val('')">Reset</button>
						</p>
						</div>
					</div>
				</div>
			</div>
</template>
<script>
	return{
		on: {

		},
	methods: {
		savedata: function(){
			var kode = $("#txtkode").val();
			var kota = $("#txtkota").val();
			var telp = $("#txttelp").val();
			var alamat1 = $("#txtalamat1").val();
			var alamat2 = $("#txtalamat2").val();
			var provinsi = $("#txtprovinsi").val();
			var negara = $("#txtnegara").val();
			var kodepos = $("#txtkodepos").val();
			var region = $("#txtregion").val();
			if(kode == "" || kota == "" || telp == "" || alamat1 == "" || provinsi == "" || negara == "" || kodepos == "" || region == ""){
				app.dialog.alert("Isian Ada yang Masih Kosong !","Gagal");
				return;
			}
			app.dialog.progress("Proses Tambah Data...");
			$.ajax({
				url: url,
				method: "POST",
				data: {fungsi: "tambah_kantor", kd: kode, kt: kota, tp: telp, alm1: alamat1, alm2: alamat2, prov: provinsi, neg: negara,
				kp: kodepos, reg: region},
				cache: "false",
				success: function(x){
					app.dialog.close();
					var dt = atob(x);
					if(dt == "1"){
						$(".frmtambah").val("");
						app.dialog.alert("Data Berhasil di Tambahkan","Berhasil",
							function(){
								datakantor();
							}
						);
					}else{
					app.dialog.alert("Data Gagal di Tambahkan, Periksa Isian Anda","Gagal");
					}
				},
				error: function(){
					app.dialog.close();
					app.dialog.alert("Masalah Jaringan Internet","Gagal");
					}
				})
			}
		}
	}
</script>