<template>
	<div class="page">
		<div class="navbar" style="background: #43CBFF; color: white">
			<div class="navbar-inner">
				<div class="title sliding">Detail Film</div>
				<div class="right">
					<a href="#" class="link back" style="color: white"><i class="icon f7-icons">xmark</i></a>
				</div>
			</div>
		</div>
		<div class="page-content">
			<img id="blokgbr" style="width:100%; margin-left:auto; margin-right:auto; margin-bottom:3%; display:block">
			<div class="block">
			<p id="blokisi" style="text-align:justify; font-size: 16px;"></p>
			</div>
		</div>
	</div>
</template>
<script>
	return{
		on: {
			pageInit: function(page){
				var linksampul = this.$route.query.gbr;
				$("#blokgbr").attr("src", linksampul);
				var detail = "<b>Judul:</b> " + this.$route.query.jdl + "<br><b>Pemain</b>: " + this.$route.query.aktor + "<br><b>Tahun</b>: " + this.$route.query.thn + "<br><b>Rating</b>: " + this.$route.query.rate + "<br><b>Ringkasan</b>: " + this.$route.query.ringkasan;
				$("#blokisi").html(detail);
			}
		},
		methods: {
			
		}
	}
</script>