<template>
	<div class="page">
		<div class="navbar" style="background: #43CBFF; color: white">
			<div class="navbar-inner">
				<div class="title sliding">Pengujian Plugin</div>
				<div class="right">
					<a href="#" class="link back" style="color: white"><i class="icon f7-icons">xmark</i></a>
				</div>
			</div>
		</div>
		<div class="page-content">
			<div class="block">
				<p class="row">
					<button type="button" class="col button button-fill color-green" @click="led_nyala">Nyala</button>
					<button type="button" class="col button button-fill color-red" @click="led_mati">Mati</button>
					<button type="button" class="col button button-fill" @click="scankode">Scan</button>
				</p>
				<p class="row" id="blokhasil" style="font-size: 17px; text-align: center;"></p>
			</div>
		</div>
	</div>
</template>
<script>
	return{
		on: {
	
		},
		methods: {
			led_nyala: function(){
				window.plugins.flashlight.available(function(isAvailable){
					if(isAvailable){
						window.plugins.flashlight.switchOn();
					}else{
						app.dialog.alert("lampu LED Tidak Tersedia","Gagal");
					}
				});
			},
			led_mati: function(){
				window.plugins.flashlight.available(function(isAvailable){
					if(isAvailable){
						window.plugins.flashlight.switchOff();
					}else{
						app.dialog.alert("lampu LED Tidak Tersedia","Gagal");
					}
				});
			},
			scankode: function(){
				cordova.plugins.barcodeScanner.scan(
					function(result){
						var hasil = result.text;
						if(hasil != ""){
							$("#blokhasil").html(hasil);
						}
					},
					function(error){
						app.dialog.alert(error,"Scan Gagal");
					},
					{
						promt : "Masukkan QRCode/Barcode ke dalam kotak",
						resultDisplayDuration: 500,
						formats : "all",
						disableSuccessBeep: false
					}
				);
			}
		}
	}
</script>