<div class="page">
<div class="navbar" style="background: #43CBFF; color: white">
<div class="navbar-inner">
<div class="title sliding">Tentang Aplikasi</div>
<div class="right">
<a href="#" class="link back" style="color: white"><i class="icon f7-icons">xmark</i></a>
</div>
</div>
</div>
<div class="page-content">
<img src="img/f7-icon.png" style="width:35%; margin-left:auto; margin-right:auto; margin-bottom:3%; margin-top: 25px; display:block">
<div class="block">
<p style="text-align:justify; font-size: 16px;">
Aplikasi ini adalah hasil praktikum ke 6 matakuliah Mobile Programming
</p>
</div>
</div>
</div>