<template>
	<div class="page">
		<div class="navbar" style="background: linear-gradient(145deg, #68b74e 0, #15a596 100%) !important; color: white">
			<div class="navbar-inner">
				<div class="title sliding">Detail Film</div>
				<div class="right">
					<a href="#" class="link back" style="color: white"><i class="icon f7-icons">xmark</i></a>
				</div>
			</div>
		</div>
		<div class="page-content">
			<div class="block">
				<img id="blokgbr" style="width:100%; margin-bottom:3%; display:block">
				
				<p id="blokisi" style="text-align:justify; font-size: 16px;"></p>
			</div>
		</div>
	</div>
</template>
<script>
	return{
		on: {
			pageInit: function(page){

				var linksampul = this.$route.query.gbr;


				$("#blokgbr").attr("src", linksampul);

				var rate = "";

				for(var i=0; i < this.$route.query.rate; i++) {
					  	rate += "<i class='f7-icons' style='font-size:22px; text-align:center;'>star_fill</i> "; 
				}			
				var detail =

				"<div style='font-size: 17px; text-align: center; font-weight: bold;'> "
					 + this.$route.query.jdl + " " + "(" + this.$route.query.thn + ")" + 
				"</div>\
				" + "<center>" + rate + "</center>" +
				"<br>\
				<b>Pemain</b> : " + this.$route.query.aktor + 
				"<br>\
				<b>Sinopsis</b> : <br>" + this.$route.query.ringkasan;

				

				$("#blokisi").html(detail);
			}
		},
		methods: {
		}
	}
</script>
