<template>
	<div class="page">
		<div class="navbar" style="background: #43CBFF; color: white">
			<div class="navbar-inner">
				<div class="title sliding">Pengujian Plugin</div>
				<div class="right">
					<a href="#" class="link back" style="color: white"><i class="icon f7-icons">xmark</i></a>
				</div>
			</div>
		</div>
		<div class="page-content">
			<div class="block">
				<p class="row">
					<button type="button" class="col button button-fill color-green" @click="led_nyala">Nyala</button>
					<button type="button" class="col button button-fill color-red" @click="led_mati">Mati</button>
					<button type="button" class="col button button-fill" @click="voice">Voice</button>
				</p>
				<p class="row" id="blokhasil" style="font-size: 17px; text-align: center;"></p>
			</div>
		</div>
	</div>
</template>
<script>
	return{
		on: {
	
		},
		methods: {
			led_nyala: function(){
				window.plugins.flashlight.available(function(isAvailable){
					if(isAvailable){
						window.plugins.flashlight.switchOn();
					}else{
						app.dialog.alert("lampu LED Tidak Tersedia","Gagal");
					}
				});
			},
			led_mati: function(){
				window.plugins.flashlight.available(function(isAvailable){
					if(isAvailable){
						window.plugins.flashlight.switchOff();
					}else{
						app.dialog.alert("lampu LED Tidak Tersedia","Gagal");
					}
				});
			},
			voice: function(){
				// Handle results
				function startRecognition(){
				    window.plugins.speechRecognition.startListening(function(result){
				        // Show results in the console
				        console.log(result);
				    }, function(err){
				        console.error(err);
				    }, {
				        language: "en-US",
				        showPopup: true
				    });
				}

				// Verify if recognition is available
				window.plugins.speechRecognition.isRecognitionAvailable(function(available){
				    if(!available){
				        console.log("Sorry, not available");
				    }

				    // Check if has permission to use the microphone
				    window.plugins.speechRecognition.hasPermission(function (isGranted){
				        if(isGranted){
				            startRecognition();
				        }else{
				            // Request the permission
				            window.plugins.speechRecognition.requestPermission(function (){
				                // Request accepted, start recognition
				                startRecognition();
				            }, function (err){
				                console.log(err);
				            });
				        }
				    }, function(err){
				        console.log(err);
				    });
				}, function(err){
				    console.log(err);
				});

			}
		}
	}
</script>