<template>
	<div class="page">
		<div class="navbar" style="background: #9B59B6; color: white">
			<div class="navbar-inner">
				<div class="left">
					<a class="link back" onclick="app.popup.close()">
	                    <i class="icon icon-back" style="color: #fff;"></i>
	                </a>
				</div>
				<div class="title sliding">Modifikasi Data</div>
			</div>
		</div>
		<div class="page-content">
			<div class="list">
				<div class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Kode Barang</div>
						<div class="item-input-wrap">
							<input type="text" id="txtkodem" readonly>
						</div>
					</div>
				</div>
				<div class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Nama Barang</div>
						<div class="item-input-wrap">
							<input type="text" id="txtnamam" placeholder="??????">
						</div>
					</div>
				</div>
				<div class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Harga Barang</div>
						<div class="item-input-wrap">
							<input type="number" id="txthargam" placeholder="??????">
						</div>
					</div>
				</div>
				<div class="block">
					<p class="row">
						<button type="button" class="col button button-fill" @click="updatedata">Update</button>
						<button type="button" class="col button button-fill color-red" @click="deletedata">Hapus</button>
					</p>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
return{
	on: {
		pageInit: function(){
			var kodepilih = sessionStorage.brg;
			db.transaction(function(tx){
				tx.executeSql("SELECT * FROM barang WHERE kode_barang=?", [kodepilih], function(tx, results){
					jmldata = results.rows.length;
					if(jmldata > 0){
						for(i=0; i<jmldata; i++){
							var kode = results.rows.item(i).kode_barang;
							var nama = results.rows.item(i).nama_barang;
							var harga = results.rows.item(i).harga_barang;
							$("#txtkodem").val(kode);
							$("#txtnamam").val(nama);
							$("#txthargam").val(harga);
						}
					}else{
						app.dialog.alert("Data Tidak di Temukan","Gagal");
						app.views.main.router.back();
					}
				});
			});
		}

	},
	methods: {
		updatedata: function(){
			var kode = $("#txtkodem").val();
			var nama = $("#txtnamam").val();
			var harga = $("#txthargam").val();
			if(kode == "" || nama == "" || harga == ""){
				app.dialog.alert("Isian Ada yang Masih Kosong !","Gagal");
				return;
			}
			db.transaction(function(tx){
				tx.executeSql("UPDATE barang SET nama_barang=?, harga_barang=? WHERE kode_barang=?", [nama, harga, kode],
				function(tx){
					app.dialog.alert("Data Berhasil di Update","Berhasil");
					tampildata();
					app.views.main.router.back();
				},
				function(){
					app.dialog.alert("Data Gagal di Update","Gagal");
				});
			});
		},

		deletedata: function(){
			var kode = $("#txtkodem").val();
			if(kode == ""){
				app.dialog.alert("Kode Barang Masih Kosong !","Gagal");
				return;
			}
			app.dialog.confirm("Anda Yakin Ingin Menghapus Data Ini ?","Hapus Data",
			function(){
				db.transaction(function(tx){
					tx.executeSql("DELETE FROM barang WHERE kode_barang=?", [kode],
					function(tx){
						app.dialog.alert("Data Berhasil di Hapus","Berhasil");
						tampildata();
						app.views.main.router.back();
					},
					function(){
						app.dialog.alert("Data Gagal di Hapus","Gagal");
					});
				});
			}
			)
		}

	}
}
</script>