.card {
    padding: 1.2rem 3rem 1rem 3rem;
    margin: 0;
    margin-bottom: 20px;
    border-radius: 1.5rem;
    border-color: rgba(238, 237, 237, 0.438);
    box-shadow: 5px 8px 10px #80808033
}

@media(max-width:767px) {
    .card {
        height: 10rem;
        padding: 1.5rem 1.5rem 1rem 1.5rem;
        margin-bottom: 20px;
    }
}

.carousel-indicators li {
    width: 5px;
    height: 6px;
    border-radius: 100%;
    opacity: 0.2;
    background-color: #000000
}

.carousel-indicators {
    margin-bottom: 0
}

.temp {
    font-size: 2rem;
    color: rgb(57, 57, 58)
}

.card-1 {
        background: linear-gradient(to right, #ffffff 50%, rgb(190 241 196 / 51%));
}

.card-2 {
    background: linear-gradient(to right, #ffffff 50%, rgb(190 228 241 / 51%));
    }

@media(max-width:767px) {
    .temp {
        font-size: 2rem
    }
}

.location {
    margin-bottom: 1.5rem
}

@media(max-width:767px) {
    .location {
        font-size: 0.75rem
    }
}

.img-fluid {
    float: right;
    width: 65%;
    display: flex;
    align-items: center
}

.row2 .img-fluid {
    margin: 10% 0;
    opacity: 0.5;
    width: 40%
}

.card-2 .row {
    justify-content: center
}

.card-3 .row {
    justify-content: center
}